/*The landing page div*/
.main-div {
    display: block;
    text-align: center;
    margin-top: 50px;
}
/*Heading style is used for questions*/
.heading {
    font-weight: bold;
    font-family: 'Lato', sans-serif;
    font: size 14;
}
#high-scores {
    color:#4e2a84;
    margin-inline-start: 10px;
}
#score {
    float: right;
    margin-inline-end: 10px;
}

/*Styles answer buttons*/
.answer-button {
    display: block;
    color: #fff;
    background-color:#4e2a84;
    border-color: #4e2a84;
    font-family: 'Lato', sans-serif;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}
/*Styles answer button hover states*/
.answer-button:hover {
    color: #fff;
    background-color: #b6acd1;
    border-color: #b6acd1;
    font-family: 'Lato', sans-serif;
}
/*Styles the start button*/
.btn-start {
    color: #fff;
    background-color:#4e2a84;
    border-color: #4e2a84;
    font-family: 'Lato', sans-serif;
}
/*Styles start button hover states*/
.btn-start:hover {
    color: #fff;
    background-color: #b6acd1;
    border-color: #b6acd1;
    font-family: 'Lato', sans-serif;
}
/*Styles the question-set div*/
.question-set {
    display: block;
    text-align: center;
    margin-top: 50px;
}
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation : portrait) {
    .answer-button {
        align-self: center;
     }
}
